@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


body{
  position  : relative;
  height: 100vh;
  overflow-x : hidden;
}
#headc{
  display : flex;
  height: 57px;
  background :black;
}

#headc a{
  display : flex;
  margin : auto;
  padding : auto;
  color : white;
  text-align:center;
  font-size : 14px;
  height:20px;
  line-height:20px;
  text-decoration:underline;
  z-index :500;
}

.tuijuu{
  height :55px;
  margin : 0;
  padding : 0;
  z-index: 100;
  transition: 0.5s;
  position: absolute;
  display : flex;
  flex-direction:row;
  list-style : none;
  width : 100%;
}


.is-fixed {
  position : fixed;
  background-color: black;
  top :0;
  left : 0;
  z-index: 1000;
  width : 100%;
}


.tuimenu{
  display : flex;
  justify-content : space-around;
  width : 100%;
}
.tuimenu2{
  display : flex;
  background-color: black;
  justify-content : space-around;
  width : 100%;y
}



.tuimenu_te{
  padding: 10px;
  list-style:none;
  position : relative;
  z-index:1;
}



.tuimenu_te a{
  text-decoration: none;
  color : white;
}
#rix{
  display: none;
  position: fixed;
  z-index: 1000;
  margin: 0 ;
  padding:0;

  }

#modal-bg{
  display:none;
  width:100%;
  height:100%;
  background : black;
  position:fixed;
  top :0;
  left:0;
  z-index :999;
  filter: opacity(40%);
}


.lef{
  display :flex;
  position : absolute;
  left : 90px;
}
.lef a{
  justify-content : left;
}
.naka {
  display : flex;
  position : absolute;
  left : 39vw;
}


.naka a{
  justify-content: center;
  padding-left : 1vw;
}

.ri{
  position :absolute;
  right : 90px;
}
.lef a{
  justify-content : right;
}

.bun{
  position : absolute;
  display:flex;
  left : 100px;
  top :300px;
  z-index: 1;
  padding: 0;
  margin :0 ;
  line-height: 60px;
}
.bun p{
  color : white;
  font-size: 60px;
  font-weight : bolder;
  padding: 0;
  margin :0 ;
}

.chu{
  margin-bottom : 50px;
}
.chu img{
  width : 100vw;
  height : 680px;
  object-fit : cover;
  filter: opacity(80%);
  position : relative;
  margin-bottom : 50px;
}

.chu img :: after{
  content: '';
  background-color: rgba(0,0,0,.5);
  position : absolute;
  left : 0;
  right : 0;
  top : 0;
  bottom : 0;
}

#erea1{
  display : flex;
  justify-content : space-around;
  flex-direction : row;

}

.et{
  position : relative;
  display: flex;
  margin-left :5vw;
  flex-direction : row;
  width : 28vw;
}

.et img{
  width : 60px;
  height : 60px;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.et p{

  margin-top :10px;
  margin-left :10px;
  font-weight : bolder;
  font-size : 13px;
  bottom : 15px;
}
.eka{
  display: flex;
  flex-direction : row;
  width : 28vw;
}
.eka img{
  width : 60px;
  height : 60px;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.eka p{
  margin-top :10px;
  margin-left :10px;
  font-weight : bolder;
  font-size : 13px;
  bottom : 15px;
}
.ea{
  display: flex;
  flex-direction : row;
  width : 28vw;
}
.ea img{
  width : 60px;
  height : 60px;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.ea p{
  margin-top :10px;
  margin-left :10px;
  font-weight : bolder;
  font-size : 13px;
  bottom : 15px;
}
.eky{
  display: flex;
  margin-right :100px;
  flex-direction : row;
  width : 28vw;
}
.eky img{
  width : 60px;
  height : 60px;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.eky p{
  margin-top :10px;
  margin-left :10px;
  font-weight : bolder;
  font-size : 13px;
  bottom : 15px;
}

.erea2{
  display : flex;
  justify-content : space-between;
  flex-direction : row;
  position : relative;
  margin-top :20px;
}

.et2{
  position : relative;
  display: flex;
  margin-left :5vw;
  flex-direction : row;
  width : 28vw;
}

.et2 img{
  width : 60px;
  height : 60px;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.et2 p{
  margin-top :10px;
  margin-left :10px;
  font-weight : bolder;
  font-size : 13px;
  bottom : 15px;
}
.eka2{
  display: flex;
  flex-direction : row;
  width : 28vw;
}
.eka2 img{
  width : 60px;
  height : 60px;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.eka2 p{
  margin-top :10px;
  margin-left :10px;
  font-weight : bolder;
  font-size : 13px;
  bottom : 15px;
}
.ea2{
  display: flex;
  flex-direction : row;
  width : 28vw;
  margin-right : 27.5vw;
}
.ea2 img{
  width : 60px;
  height : 60px;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.ea2 p{
  margin-top :10px;
  margin-left :10px;
  font-weight : bolder;
  font-size : 13px;
  bottom : 15px;
}

.rok{
  top : 50px;
  margin-top : 50px;
  margin-left : 100px;
  font-size : 22px;
}
.rk0{
  display:flex;
  flex-direction : row;
  justify-content : center;
}

.rk1{
  display : flex;
  flex-direction :column;
  margin-left : 0.5vw;
  margin-right : 0.5vw;
}
.rk1 img{
  width : 21.5vw;
  height : 16.5vw;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.rk1 p{
  font-weight : bolder;
  font-size : 18px;
}
.rk2{
  display : flex;
  flex-direction :column;
  margin-left : 0.5vw;
  margin-right : 0.5vw;
}
.rk2 img{
  width : 21.5vw;
  height : 16.5vw;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.rk2 p{
  font-weight : bolder;
  font-size : 18px;
}
.rk3{
  display : flex;
  flex-direction :column;
  margin-left : 0.5vw;
  margin-right : 0.5vw;
}
.rk3 img{
  width : 21.5vw;
  height : 16.5vw;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.rk3 p{
  font-weight : bolder;
  font-size : 18px;
}
.rk4{
  display : flex;
  flex-direction :column;
  margin-left : 0.5vw;
  margin-right : 0.5vw;
}
.rk4 img{
  width : 21.5vw;
  height : 16.5vw;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.rk4 p{
  font-weight : bolder;
  font-size : 18px;
}
.caf{
  margin-left : 5vw;
  margin-right : 5.5vw;
  margin-bottom : 50px;
  position : relative;

}
.caf0 img{
  width : 89.5vw;
  object-fit : cover;
  margin-top :50px;
  border-radius: 5px 5px 5px 5px;
}
.kas{
  position : absolute;
  top : 10vh;
  left : 50px;
  background :white;
  filter: opacity(60%);
  font-size : 28px;
}

.kas0 p{
  font-size : 20px;
  padding-left : 1vw;
  padding-right : 1vw;
}


#im{
  display : flex;
  background : black;
  flex-direction : column;
  position : relative;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.imt{
  display:flex;
  flex-direction : column;
  position : relative;
  margin-top :30px;
  margin-left : 6vw;
  margin-bottom : 30px;
}
.imt h2{
  font-size : 30px;
  color :white;
}

.imt p{
  color : white;
  font-size : 15px;
}
.imt1{
  display : flex;
  flex-direction :row;
  position :relative;
  margin-left : 5vw;
  margin-right : 5vw;
  }
.imt2{
  display : column;
  top : 300px;
  margin-right :0.75vw;
}
.imt2 img{
  width : 29.25vw;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.imt2 h3{
  font-size:18px;
  color : white;
}
.imt2 p{
  font-size:15px;
  color : white;
}
.imt3{
  display : column;
  top : 300px;
  margin-right :0.75vw;
}
.imt3 img{
  width : 29.25vw;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.imt3 h3{
  font-size:18px;
  color : white;
}
.imt3 p{
  font-size:15px;
  color : white;
}
.imt4{
  display : column;
  top : 300px;
  margin-right :0.75vw;
}
.imt4 img{
  width : 29.25vw;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.imt4 h3{
  font-size:18px;
  color : white;
}
.imt4 p{
  font-size:15px;
  color : white;
}

.mae{
  display : flex;
  flex-direction : column;
  margin-bottom : 50px;
}
.max h2{
  font-size : 30px;
  margin-left : 3vw;
  margin-bottom : 10px;
}

.mae0{
  display : flex;
  flex-direction : row;
  position :relative;
  justify-content : center;
}
.mab{
  display : flex;
  flex-direction : column;
}
.mab img{
  width:28vw;
  object-fit : cover;
  margin-right :1vw;
  border-radius: 5px 5px 5px 5px;
}
.mab p{
  font-size : 16px;
  font-weight:bolder;
}
.mac{
  display : flex;
  flex-direction : column;
}
.mac img{
  width:28vw;
  object-fit : cover;
  margin-right :1vw;
  border-radius: 5px 5px 5px 5px;
}
.mac p{
  font-size : 16px;
  font-weight:bolder;
}
.maef{
  display : flex;
  flex-direction : column;
  margin-right :1vw;
}
.maef img{
  width:28vw;
  object-fit : cover;
  border-radius: 5px 5px 5px 5px;
}
.maef p{
  font-size : 16px;
  font-weight:bolder;
}
.las{
  display:flex;
  background : #f5f5f5;
  flex-direction : column;
  border-top : 1px solid #a9a9a9 ;
  padding-top : 60px;
}
.lin{
  display:flex;
  flex-direction:row;
  border-bottom : 1px solid #a9a9a9 ;
  margin-left :5vw;
  margin-right :5vw;

}
.lin1{
  display: flex;
  flex-direction:column;
  padding-bottom : 10px;
  margin-left : 1vw;
  margin-right:6vw;
}
.lin1 h3{
  font-size : 14px;
  font-weight : bolder;
  padding-bottom : 10px;
}
.lin1 p{
  font-size : 14px;
  padding-bottom : 8px;
}
.lin2{
  display: flex;
  flex-direction:column;
  padding-bottom : 10px;
  margin-left : 6vw;
  margin-right:7vw;
}
.lin2 h3{
  font-size : 14px;
  font-weight : bolder;
}
.lin2 p{
  font-size : 14px;
  padding-bottom : 8px;
}
.lin3{
  display: flex;
  flex-direction:column;
  padding-bottom : 10px;
  margin-left : 7vw;
  margin-right:7vw;
}
.lin3 h3{
  font-size : 14px;
  font-weight : bolder;
}
.lin3 p{
  font-size : 14px;
  padding-bottom : 8px;
}
.lin4{
  display: flex;
  flex-direction:column;
  margin-left : 7vw;
  margin-right:7vw;
}
.lin4 h3{
  font-size : 14px;
  font-weight : bolder;
}
.lin4 p{
  font-size : 14px;
  padding-bottom : 8px;
}
.las0{
  display : flex;
  flex-direction : column;
  margin-top : 40px;
  margin-left : 5vw;
  margin-bottom : 50px;
}
.las1 p{
  font-size : 14px;
}
.las2{
  display : flex;
  flex-direction:row;
  margin-right : 5px;
}
.las2 a{
  font-size : 14px;
  text-decoration: none;
  color : black;
  }
.las3 p{
  font-size:14px;
}
.pagetop{
  position : fixed;
  bottom : 20px;
  right:20px;
  font-size:15px;
}
.pagetop a{
  background : black;
  text-decoration :none;
  color : white;
  width:150px;
  padding :20px ;
  text-align : center;
}
#form{
	width:37vw;
	height:515px;
	background-color: #fff;
	margin:auto;
	border-radius: 10px;
	padding:20px;
  margin:0 auto;
}
.logo{
  margin-bottom:20px;
  border-bottom : solid #ccc 1px;
  display : flex;
}
.logo p{
  display : flex;
  margin : 0 auto;
  font-size:20px;
  font-weight : bolder;
  padding-bottom : 15px;
}
.form-item{
  background-color : white;
  position: relative;
  display: block;
  margin-bottom: 10px;
}
 input{

 }
 .form-style{
	color:#ccc;
	display: block;
	width: 98%;
	height: 30px;
	padding: 5px ;
	border:1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	font-size: 20px;
	letter-spacing: .8px;
}
.form-item .form-style:focus{
  outline: none;
  border:2px solid #000000;
  color:#ccc;
  padding-top :3px;
  border-radius: 5px;

}

.sousin{
  padding-bottom: 30px;
  border-bottom : solid #ccc 1px;
}
#login{
	width: 100%;
	height: 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #cc0066;
	border:1px solid #cc0066;
	border:none;
	color: #fff;
	font-weight: bold;
}
#login:hover{

  cursor:pointer;
}
#login:focus{
  outline: none;
}
.gazobtn1{
  width: 100%;
  display : flex;
  flex-direction : column;
}
.gazobtn1 button{
  background:white;
  margin-top :30px;
  width: 100%;
	height: 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border:1px solid #ccc;
}


.gazobtn1 img{
  width : 1.5vw ;
  object-fit : cover;

}

.gazobtn2{
  width: 100%;
  display : flex;
  flex-direction : column;
}
.gazobtn2 button{
  background:white;
  margin-top :10px;
  width: 100%;
	height: 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border:1px solid #ccc;
}
.gazobtn2 img{
  width : 1.5vw ;
  object-fit : cover;
}
.tuijuu2{
  height :55px;
  margin : 0;
  padding : 0;
  z-index: 100;
  transition: 0.5s;
  position: absolute;
  display : flex;
  flex-direction:row;
  list-style : none;
  width : 100%;
}
#mrix{
  display:flex;
  flex-direction : column;
  margin: 0 ;
  padding:0;
}
#mform{
  display:flex;
  flex-direction : column;
	width:60vw;
  border : solid 2px #ccc;
	border-radius: 10px;
	padding:20px;
  margin:80px auto 80px auto;
}
.mlogo{
  margin-bottom:20px;
  border-bottom : solid #ccc 1px;
  display : flex;
}
.mlogo p{
  display : flex;
  margin : 0 auto;
  font-size:20px;
  font-weight : bolder;
  padding-top : 15px;
  padding-bottom : 15px;
}
.lineb{
  background : #f5f5f5;
  border-top : solid #000000 1px;
  border-bottom : solid #000000 1px;
  padding-top : 10px;
  padding-bottom : 10px;
}
.lineb p{
  font-size : 18px;
  padding-left : 20px;
}
.nakabun1{
  margin-top :20px;
  margin-bottom:20px;
}
span{
  color : #ff0000;
}
.zene{
  font-size : 16px;
}
.mform-item{
  background-color : white;
  position: relative;
  display:flex;
  margin-bottom: 50px;
  width:60vw;
}
.mform-item2{
  background-color : white;
  position: relative;
  display:flex;
  margin-top: 40px;
  margin-bottom: 10px;
  width:60vw;
}

 .mform-style{
	color:#ccc;
  width : 60vw;
	display: flex;
	height: 44px;
	border:1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	font-size: 105%;
	letter-spacing: .8px;
}
#memail{
 color:#000000;
 width : 60vw;
 display: flex;
 height: 44px;
 border:1px solid #ccc;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 -moz-background-clip: padding;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
 background-color: #fff;
 font-size: 100%;
 letter-spacing: .8px;
}
#mpassword{
  color:#000000;
  width : 60vw;
  display: flex;
  height: 44px;
  border:1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  font-size: 105%;
  letter-spacing: .8px;
}

#teln{
 color:#000000;
 width : 60vw;
 display: flex;
 height: 44px;
 border:1px solid #ccc;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 -moz-background-clip: padding;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
 background-color: #fff;
 font-size: 105%;
 letter-spacing: .8px;
}
#mmemail{
 color:#000000;
 width : 60vw;
 display: flex;
 height: 44px;
 border:1px solid #ccc;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 -moz-background-clip: padding;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
 background-color: #fff;
 font-size: 105%;
 letter-spacing: .8px;
}
#toinaiyou{
 color:#000000;
 width : 60vw;
 display: flex;
 height: 300px;
 border:1px solid #ccc;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 -moz-background-clip: padding;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
 background-color: #fff;
 font-size: 105%;
 letter-spacing: .8px;
 margin-top : 30px;
}


.kaku{
    display:flex;
    flex-direction : column;
  	width:60vw;
    border : solid 1px #ccc;
  	border-radius: 10px;
  	padding:20px;
    margin:80px auto 80px auto;
  }
  .hokabun{
    margin-bottom:20px;

  }
  .namalogo{
    font-size : 18px;
    border-bottom : solid #ccc 1px;
  }
  .nakanobun{
    margin-top : 18px;
    margin-bottom:20px;
  }
  .haku{
    font-size : 20px;
    margin-bottom:1em;
  }
  .sousin2{
    padding-bottom: 70px;
    border-bottom : solid #ccc 1px;
    display : flex;
    flex-direction :row;
    justify-content : space-around;
  }
  .login2{
  	width: 48%;
  	height: 50px;
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
  	-moz-background-clip: padding;
  	-webkit-background-clip: padding-box;
  	background-clip: padding-box;
  	background-color: #cc0066;
  	border:1px solid #cc0066;
  	border:none;
  	color: #fff;
  	font-weight: bold;
  }
  .login2:hover{

    cursor:pointer;
  }
  .login2:focus{
    outline: none;
  }
  .modori{
  	width: 48%;
  	height: 50px;
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
  	-moz-background-clip: padding;
  	-webkit-background-clip: padding-box;
  	background-clip: padding-box;
  	background-color: #ffffff;
  	border:2px solid #006633;
  	color: #006633;
  	font-weight: bold;
    text-align : center;
  }

  .modori:hover{

    cursor:pointer;
  }
  .modori:focus{
    outline: none;
  }


  #bfo2{
    margin-top:40px;
  }
  #bfo2name{
    width:50vw;
    height:5vh;
  }
  #bfo2kana{
    width:50vw;
    height:5vh;
  }
  #bfo2tel{
    width:50vw;
    height:5vh;
  }
  #bfo2email{
    width:50vw;
    height:5vh;
  }
  #bfo2 textarea{
    resize: none;
    width:50vw;
    height:40vh;
  }
